/* Global Codes */

.display-inline-block{
    display: inline-block;
}
.display-block{
    display: block;
}
.vertical-align-top{
    vertical-align: top;
}
.vertical-align-mid{
    vertical-align: middle;
}
.container{
    /* width: 1170px; */
    margin: 0 120px;
    background-color: transparent;
}
/* End Global Codes */


/* Body */

.background{
    background-color: #f9f8f4;
    /* background: red; */
}

/* End Body */


/* Header */

.header-wrapper{
    background-color: white;
    border-radius: 0 0 20px 20px;
    width: 50%;
    height: 80px;
    padding-top: 10px;
    margin: 0 auto;
    text-align: center;
}
.header-wrapper li{
    font-family: 'BPG Nino Mtavruli Bold';
    font-size: 24px;
    padding: 0 8px;
}
.header-wrapper li:hover{
    color: #E85027;
}
.logo{
    padding-right: 8px;

}

/* End Header */


/* Homeworks */
.homeworks-background{
    background: #e7e6e6;
    height: 460px;
}
.background-html{
    background-color: #E85027;
}
.background-html:hover{
    background-color: #F16830;
}
.background-css{
    background-color: #E9A129;
}
.background-css:hover{
    background-color: #F2BF26;
}
.background-js{
    background-color: #0C73B8;
}
.background-js:hover{
    background-color: #39ACDD;
}

.homework-wrapper{
    display: inline-block;
    background-color: transparent;
    margin-top: 30px;
    height: 400px;
    width: 100%;
    text-align: center;
}
.homework{
    width: 33%;
    text-align: center;
    height: 400px;
    vertical-align: top;
}
.homework-content{
    text-align: left;
    margin: 20px auto auto 20px;
    font-family: 'RobotoRegular';
}
.homework-title{
    font-size: 36px;
}
.homework-date{
    margin-top: 10px;
    font-size: 16px;
    color: white;
}
.homework-description{
    margin: 200px 20px 20px 20px;
    font-size: 20px;
}

/* End HomeworksS */















